@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&display=swap');
.fancy-text {
  font-family: 'Corinthia', cursive;
}

html {
  scroll-behavior: smooth;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.animate-slideDown {
  animation: slideDown 0.5s ease-out forwards;
}

.animate-slideUp {
  animation: slideUp 0.5s ease-in forwards;
}
