@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parisienne&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Style+Script&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.font-names2 {
  font-family: 'Dancing Script', cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #dca483;
}

.font-slogan {
  font-family: 'Playfair Display', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #dca483;
}

.font-location {
  font-family: 'Playfair Display', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
}

.font-rsvp1 {
  font-family: 'Work Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #808a6c;
}

.font-cd-number {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #f3dbb9;
}

.font-cd-text {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #f3dbb9;
}

.font-navbar {
  font-family:
    '' Work Sans '',
    sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #808a6c;
}

.font-subtitle {
  font-family: 'Playfair Display', serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #808a6c;
}

.font-info {
  font-family: 'Work Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #808a6c;
}

.font-tl-title {
  font-family: 'Work Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #808a6c;
}

.font-tl-text {
  font-family: 'Work Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #808a6c;
}

.font-tl-time {
  font-family: 'Work Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
  color: #808a6c;
}

.font-titles {
  font-family: 'Dancing Script', cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #546b57;
}

html {
  scroll-behavior: smooth;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.animate-slideDown {
  animation: slideDown 0.5s ease-out forwards;
}

.animate-slideUp {
  animation: slideUp 0.5s ease-in forwards;
}

@keyframes popup {
  0% {
    transform: scale(0.95);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-popup {
  animation: popup 0.3s ease-out forwards;
}
